---
import type { Website } from "@/components/pages/Website/website.types";
import ActivitiesGallery1 from "../components/ActivitiesGallery1.astro";
import Services1 from "../components/Services1.astro";

interface Props {
    webpage: Website;
}

const { webpage } = Astro.props;
---

<div class="h-20"></div>
<Services1 language={webpage.language} servicesDates={webpage.servicesDates} animations={webpage.animations} />
<ActivitiesGallery1 language={webpage.language} activities={webpage.activities} animations={webpage.animations} />
