---
export const prerender = false;

import Services from "@/components/websites/components/Services.astro";
import Layout from "../../layouts/WebsitesLayout.astro";
import type { Website } from "@/components/pages/Website/website.types";
import ActivitiesGallery from "@/components/websites/components/ActivitiesGallery.astro";
const { title } = Astro.params;
let webpage: Website;

try {
  const response = await fetch(
    `${import.meta.env.PUBLIC_API_BASE}/websites/services?title=${title}`
  );

  if (!response.ok) {
    if (response.status === 404) {
      return new Response(null, {
        status: 404,
      });
    } else {
      return new Response(null, {
        status: 500,
      });
    }
  }

  webpage = await response.json();
} catch (error) {
  return new Response(null, {
    status: 500,
  });
}
---

<Layout webpage={webpage}>
  <div class="h-20"></div>
  <Services
    language={webpage.language}
    servicesDates={webpage.servicesDates}
    animations={webpage.animations}
  />
  <ActivitiesGallery
    language={webpage.language}
    activities={webpage.activities}
    animations={webpage.animations}
  />
</Layout>
