---
export const prerender = false;

import Layout from "../../../layouts/WebsitesLayout.astro";
import "@/components/websites/styles/blog.css";
import { displayDate } from "@/lib/timeFunctions";

const { title, post } = Astro.params;
let postData;
let websiteData;

try {
  const response = await fetch(
    `${import.meta.env.PUBLIC_API_BASE}/websites/post?title=${title}&post=${post}`
  );
  if (!response.ok) {
    if (response.status === 404) {
      return new Response(null, {
        status: 404,
      });
    } else {
      return new Response(null, {
        status: 500,
      });
    }
  }

  const webpage = await response.json();
  postData = webpage.post;
  websiteData = webpage.website;
} catch (error) {
  return new Response(null, {
    status: 500,
  });
}
---

<Layout webpage={websiteData}>
  <div class="blogheader">
    <p class="date">Publicado el: {displayDate(postData.publication)}</p>
    <h1>{postData.title}</h1>
    <strong>{postData.description}</strong>
    <img src={postData.img} alt="" />
  </div>
  <article set:html={postData.body} />
</Layout>
