---
export const prerender = false;

import Layout from "../../../layouts/WebsitesLayout.astro";
import type { Website } from "@/components/pages/Website/website.types";
import Section1 from "@/components/websites/basics/Section1.astro";

const { title } = Astro.params;
let webpage: Website;

try {
  const response = await fetch(
    `${import.meta.env.PUBLIC_API_BASE}/websites/posts?title=${title}`
  );

  if (!response.ok) {
    if (response.status === 404) {
      return new Response(null, {
        status: 404,
      });
    } else {
      return new Response(null, {
        status: 500,
      });
    }
  }

  webpage = await response.json();
} catch (error) {
  return new Response(null, {
    status: 500,
  });
}
---

<Layout webpage={webpage}>
  <Section1 animations={webpage.animations}>
    <div class="flex flex-col">
      <h1 class="font-header text-5xl mb-16 w-full">
        {webpage.language === "es" ? "Blog" : "Our posts"}
      </h1>

      <div class="gap-6 grid sm:grid-cols-3">
        {
          webpage.posts.map((post: any) => (
            <a href={`/${title}/blog/${post.title}`}>
              <img
                class="aspect-video bg-cover object-cover rounded-lg"
                src={post.img}
                alt=""
              />
              <h3 class="font-semibold text-xl mt-2">{post.title}</h3>
              <p class="text-muted-foreground text-sm mt-1">
                {post.description}
              </p>
            </a>
          ))
        }
      </div>
    </div>
  </Section1>
</Layout>
