---
import type { Event } from "@/components/pages/Website/website.types";
import { CalendarIcon, CopyIcon, Share2Icon } from "lucide-react";

interface Props {
  event: Event;
  pageTitle: string;
  language: string;
}

const { event, language } = Astro.props;

const formatDate = (date: string) => {
  const splitDate = date.split("T")[0].split("-");
  return splitDate[2] + "/" + splitDate[1] + "/" + splitDate[0];
};
---

<div
  id={event.title}
  class="transition-transform event rounded-md shadow-md shadow-cshadow border-border w-full h-fit mb-4"
  style="scroll-margin-top: 130px"
  data-date={event.date}
  data-title={event.title}
>
  <img src={event.img} alt="" class="rounded-t-default" />
  <div class="rounded-b-default px-5 py-3 relative">
    <h3 class="text-xl font-header pr-8">{event.title}</h3>
    <p class="text-sm flex items-center gap-1.5 text-muted-foreground">
      <CalendarIcon className="size-4" />
      {formatDate(event.date.toString())}
    </p>
    <p class="text-sm">{event.description}</p>

    <div class="flex gap-2 mt-2 flex-wrap">
      <button
        data-title={event.title}
        data-description={event.description}
        data-date={event.date}
        class="calendar-btn items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3 flex gap-1.5 w-full md:w-auto"
      >
        <CalendarIcon className="size-3.5" />
        {language === "es" ? "Anadir al calendario" : "Add to calendar"}
      </button>
      <div class="flex-1 w-full md:w-auto relative">
        <button
          data-title={event.title}
          data-description={event.description}
          class="share-btn w-full relative items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-background border text-foreground hover:bg-background/90 h-9 rounded-md px-3 flex gap-1.5 flex-1"
        >
          <Share2Icon className="size-3.5" />
          {language === "es" ? "Compartir" : "Share"}
        </button>
        <div
          class="sharetoggle hidden absolute border p-1 w-full top-10 rounded-md bg-background"
        >
          <button
            class="whatsapp-btn flex gap-2 items-center text-sm font-normal hover:bg-muted w-full h-8 px-2 rounded-md"
          >
            <img src="/whatsapp.svg" alt="Whatsapp" class="size-3.5" />
            Whatsapp
          </button>
          <button
            class="facebook-btn flex gap-2 items-center text-sm font-normal hover:bg-muted w-full h-8 px-2 rounded-md"
          >
            <img src="/facebook.svg" alt="Facebook" class="size-3.5" />
            Facebook
          </button>
          <button
            class="copy-btn flex gap-2 items-center text-sm font-normal hover:bg-muted w-full h-8 px-2 rounded-md"
          >
            <CopyIcon className="size-3.5" />
            {language === "es" ? "Copiar" : "Copy"}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
