---
import DonationIcon from "../vectors/DonationIcon.astro";
import FacebookIcon from "../vectors/FacebookIcon.astro";
import WhatsappIcon from "../vectors/WhatsappIcon.astro";
import YoutubeIcon from "../vectors/YoutubeIcon.astro";
import MapIcon from "../vectors/MapIcon.astro";
import InstagramIcon from "../vectors/InstagramIcon.astro";
import type { Website } from "@/components/pages/Website/website.types";

interface Props {
  instagramLink?: string;
  facebookLink?: string;
  whatsappLink?: string;
  mapsLink?: string;
  youtubeLink?: string;
  donationLink?: string;
  language: Website["language"];
}

const {
  language,
  instagramLink,
  facebookLink,
  whatsappLink,
  mapsLink,
  youtubeLink,
  donationLink,
} = Astro.props;
---

<footer class="text-center bg-background text-foreground py-5 border-t">
  <div class="flex justify-center gap-3.5 mb-3">
    {
      facebookLink && (
        <a href={facebookLink}>
          <img src="/facebook.svg" alt="Facebook" class="size-4" />
        </a>
      )
    }
    {
      instagramLink && (
        <a href={instagramLink}>
          <img src="/instagram.svg" alt="Instagram" class="size-4" />
        </a>
      )
    }
    {
      whatsappLink && (
        <a href={whatsappLink}>
          <img src="/whatsapp.svg" alt="Whatsapp" class="size-4" />
        </a>
      )
    }
    {
      youtubeLink && (
        <a href={youtubeLink}>
          <img src="/youtube.svg" alt="Youtube" class="size-4" />
        </a>
      )
    }
    {
      mapsLink && (
        <a href={mapsLink}>
          <img src="/map.svg" alt="Map" class="size-4" />
        </a>
      )
    }
    {
      donationLink && (
        <a href={donationLink}>
          <img src="/donation.svg" alt="Donation" class="size-4" />
        </a>
      )
    }
  </div>
  <p class="text-foreground">
    {language === "es" ? "Creado con" : "Created with"}
    <a href="/" class="hover:underline">IglesiasBC</a>
  </p>
</footer>
