---
import type { Website } from "@/components/pages/Website/website.types";
import { MenuIcon } from "lucide-react";

interface Props {
  title: string;
  logo?: string;
  language: Website["language"];
  blog: boolean;
  eventPage: boolean;
}

const { title, logo, language, blog, eventPage } = Astro.props;

function formatTitle(title: string) {
  return title.replaceAll(" ", "-");
}
---

<div class="h-14" transition:persist="headertop"></div>
<header class="w-full fixed z-50 top-0" transition:persist="header">
  <div
    class="relative bg-background text-foreground shadow-cshadow shadow-md px-4 flex justify-center border-b"
  >
    <nav
      class="relative flex items-center justify-between h-14 md:rounded-md md:h-14 md:px-8 md:py-2 w-full max-w-6xl"
    >
      <a href={`/${formatTitle(title)}/`} class="flex-shrink-0">
        <img class="w-auto h-8 md:h-10" src={logo} alt="" />
      </a>

      <div
        class="hidden ml-10 md:flex md:items-center md:ml-auto md:space-x-10"
      >
        {
          (eventPage || blog) && (
            <a
              href={`/${formatTitle(title)}/`}
              class="text-base font-medium transition-all duration-200 hover:text-primary focus:text-primary"
            >
              {language === "es" ? "Inicio" : "Home"}
            </a>
          )
        }

        {
          eventPage && (
            <a
              href={`/${formatTitle(title)}/eventos`}
              class="text-base font-medium transition-all duration-200 hover:text-primary focus:text-primary"
            >
              {language === "es" ? "Eventos" : "Events"}
            </a>
          )
        }

        {
          blog && (
            <a
              href={`/${formatTitle(title)}/blog`}
              class="text-base font-medium transition-all duration-200 hover:text-primary focus:text-primary"
            >
              Blog
            </a>
          )
        }
      </div>

      {
        (eventPage || blog) && (
          <button
            id="toggle"
            onclick="toggle()"
            type="button"
            class="inline-flex p-2 transition-all duration-200 rounded-md md:hidden"
          >
            <MenuIcon className="size-6" />
          </button>
        )
      }
    </nav>

    <nav
      id="nav"
      class="bg-background flex flex-col space-y-5 md:hidden w-full z-[-1] p-6 shadow-cshadow shadow-lg"
    >
      <a
        href={`/${formatTitle(title)}/`}
        class="text-lg font-medium transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b"
        >{language === "es" ? "Inicio" : "Home"}</a
      >

      {
        eventPage && (
          <a
            href={`/${formatTitle(title)}/eventos`}
            class="text-lg font-medium transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b"
          >
            {language === "es" ? "Eventos" : "Events"}
          </a>
        )
      }

      {
        blog && (
          <a
            href={`/${formatTitle(title)}/blog`}
            class="text-lg font-medium transition-all duration-200 hover:text-primary focus:text-primary border-secondary border-b"
          >
            Blog
          </a>
        )
      }
    </nav>
    <div onclick="hide()" id="backdrop"></div>
  </div>
</header>

<style>
  #nav {
    position: absolute !important;
    bottom: 0;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }

  #backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    cursor: pointer;
    background-color: black;
    opacity: 0;
    z-index: -2;
    transition: opacity 0.15s ease-out;
  }

  .toogle-show {
    transform: translateY(100%);
  }

  .backdrop-show {
    display: block !important;
  }

  .backdrop-dimmed {
    opacity: 0.2 !important;
  }
</style>
