---
import type { Website } from "@/components/pages/Website/website.types";
import Section1 from "../basics/Section1.astro";
import AButton from "../basics/AButton.astro";

interface Props {
    webpage: Website;
}

const { webpage } = Astro.props;
---

<Section1 animations={webpage.animations}>
    <div class="min-h-lvh">
        <div class="mx-auto max-w-8xl pt-5 flex flex-col lg:flex-row justify-start gap-3">
            <h1 class="font-header w-fit mb-4 text-4xl font-bold leading-tight text-foreground sm:leading-tight sm:text-5xl lg:text-7xl lg:leading-tight">{webpage.title}</h1>
            <div class="mt-4">
                <p class="mb-5 mx-auto text-lg text-foreground opacity-80">{webpage.description}</p>
                <div class="flex flex-wrap gap-2 xs:gap-5">
                    <AButton href="#about">{webpage.language === "es" ? "Sobre nosotros" : "About us"}</AButton>
                    {
                        webpage.preachLink && (
                            <AButton href={webpage.preachLink} variant="outside">
                                {webpage.language === "es" ? "Predica" : "Preach"}
                            </AButton>
                        )
                    }
                </div>
            </div>
        </div>
        <img class="rounded-md mt-10 w-full mx-auto object-cover" src={webpage.coverImg} />
    </div>
</Section1>
