---
import type { Website } from "@/components/pages/Website/website.types";
import Section1 from "../basics/Section1.astro";
import AButton from "../basics/AButton.astro";

interface Props {
  webpage: Website;
}

const { webpage } = Astro.props;
---

<Section1 animations={webpage.animations}>
  <div class="mx-auto max-w-6xl min-h-lvh">
    <div class="text-center space-y-6">
      <h1
        class="font-header max-w-4xl mx-auto text-4xl leading-tight text-foreground sm:text-5xl"
      >
        {webpage.title}
      </h1>
      <p class="max-w-2xl mx-auto px-6 text-lg text-muted-foreground">
        {webpage.description}
      </p>
      <div class="flex flex-wrap gap-2 xs:gap-5 justify-center">
        <AButton href="#about"
          >{webpage.language === "es" ? "Sobre nosotros" : "About us"}</AButton
        >
        {
          webpage.preachLink && (
            <AButton href={webpage.preachLink} variant="outside">
              {webpage.language === "es" ? "Predica" : "Preach"}
            </AButton>
          )
        }
      </div>
    </div>
    <img
      class="rounded-xl shadow-lg mt-12 w-full max-w-5xl max-h-lvh mx-auto object-cover aspect-[16/8]"
      src={webpage.coverImg}
    />
  </div>
</Section1>
